force-app/main/default/flows/Accumulate_UsageBucket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Accumulate_Usage</name>
        <label>Accumulate Usage</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Quantity_Consumed_Current_UsageBucket</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Quantity_Transformed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_UsageMeters</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Prevents multiplication of redundant usage records if invoked without triggering the Next Billing Date change.</description>
        <name>Usage_for_Period_Recorded</name>
        <label>Usage for Period Recorded?</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_UsageMeters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PreiodRecorded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity_Consumed_Current_UsageBucket</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Accumulates the Quantity Consumed by each of the Usage Meters (Product Options) and creates a Usage record for the Usage Bucket (Bundle Parent).</description>
    <formulas>
        <name>EndDateTime_Current</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!IN_UsagePeriod_EndDate_Current}) + &quot;01:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>FX_Quantity_Transformed</name>
        <dataType>Number</dataType>
        <expression>{!Quantity_Consumed_Current_UsageMeter} * {!UnitPrice_UsageMeter}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Accumulate UsageBucket - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accumulate Usage Bucket</label>
    <loops>
        <description>Loop through the child options from the usage bucket.</description>
        <name>Loop_Through_UsageMeters</name>
        <label>Loop Through Usage Meters</label>
        <locationX>352</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_UsageMeters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_MatchingAttribute_UsageMeter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Usage_for_UsageBucket</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the Usage record for the accumulated amount of all the Usage Meters in the Usage Bucket.</description>
        <name>Create_Usage_for_UsageBucket</name>
        <label>Create Usage for Usage Bucket</label>
        <locationX>352</locationX>
        <locationY>1214</locationY>
        <inputAssignments>
            <field>blng__EndDateTime__c</field>
            <value>
                <elementReference>IN_UsagePeriod_EndDate_Current</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__MatchingAttribute__c</field>
            <value>
                <elementReference>MatchingAttribute_UsageBucket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__MatchingId__c</field>
            <value>
                <elementReference>IN_Product_UsageBucket.OrderItemNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Quantity__c</field>
            <value>
                <elementReference>Quantity_Consumed_Current_UsageBucket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__StartDateTime__c</field>
            <value>
                <elementReference>IN_UsagePeriod_EndDate_Current</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__UnitOfMeasure__c</field>
            <value>
                <elementReference>UnitOfMeasure_UsageBucket</elementReference>
            </value>
        </inputAssignments>
        <object>blng__Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_MatchingAttribute_and_UOM_UsageBucket</name>
        <label>Get Matching Attribute and UOM</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quantity_Consumed_Current_UsageBucket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_Product_UsageBucket.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>MatchingAttribute_UsageBucket</assignToReference>
            <field>SBQQ__MatchingAttribute__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UnitOfMeasure_UsageBucket</assignToReference>
            <field>SBQQ__UnitOfMeasure__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MatchingAttribute_UsageMeter</name>
        <label>Get Matching Attribute</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quantity_Consumed_Current_and_UnitPrice_UsageMeter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_UsageMeters.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>MatchingAttribute_UsageMeter</assignToReference>
            <field>SBQQ__MatchingAttribute__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the quantity consumed by the Usage Meter fo the current period.</description>
        <name>Get_Quantity_Consumed_Current_and_UnitPrice_UsageMeter</name>
        <label>Get Quantity Consumed (Current) and Unit Price</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accumulate_Usage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__MatchingId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_UsageMeters.OrderItemNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__MatchingAttribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchingAttribute_UsageMeter</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_UsagePeriod_EndDate_Current</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputAssignments>
            <assignToReference>Quantity_Consumed_Current_UsageMeter</assignToReference>
            <field>blng__TotalQuantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UnitPrice_UsageMeter</assignToReference>
            <field>blng__UnitPrice__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>The Usage Summary accumulates all Usages, so if the Total Quantity is null then we&apos;re certain there are no usage records.</description>
        <name>Get_Quantity_Consumed_Current_UsageBucket</name>
        <label>Get Quantity Consumed (Current)</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usage_for_Period_Recorded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__MatchingId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_Product_UsageBucket.OrderItemNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__MatchingAttribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchingAttribute_UsageBucket</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_UsagePeriod_EndDate_Current</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputAssignments>
            <assignToReference>Quantity_Consumed_Current_UsageBucket</assignToReference>
            <field>blng__TotalQuantity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_UsageMeters</name>
        <label>Get Usage Meters</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_UsageMeters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__RequiredBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_Product_UsageBucket.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderItemNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MatchingAttribute_and_UOM_UsageBucket</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IN_Product_UsageBucket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>IN_UsagePeriod_EndDate_Current</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingAttribute_UsageBucket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingAttribute_UsageMeter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quantity_Consumed_Current_UsageBucket</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Quantity consumed by the Usage Meter fo the current period</description>
        <name>Quantity_Consumed_Current_UsageMeter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UnitOfMeasure_UsageBucket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitPrice_UsageMeter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
