force-app/main/default/flows/Create_Product_UsageWithCredits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Products flagged as &quot;Usage-Based with Minimum Commitment&quot; need to have a at least 1 product that draws down from the parent&apos;s &quot;credits&quot;.</description>
        <name>Has_Usage_Product_Options</name>
        <label>Has Usage Product Options?</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_Credit_Consumer_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsageOption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Options</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Edited the usage product name</description>
    <formulas>
        <description>Used for naming the Product Option&apos;s name automatically generation.</description>
        <name>FX_Name_Parent</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &quot; (Usage)&quot;</expression>
    </formulas>
    <interviewLabel>Create Product - Usage with Credits - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Product - Usage with Credits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>The &quot;Credit Consumer&quot; is a usage-based product that draws down from the minimum commitment from the parent over the usage period.</description>
        <name>Create_Credit_Consumer_Product</name>
        <label>Create Credit Consumer Product</label>
        <locationX>308</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Standard_PriceBook</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FX_Name_Parent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingType__c</field>
            <value>
                <stringValue>Arrears</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ChargeType__c</field>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Component__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionPricing__c</field>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Link the newly created Product to the &quot;Usage with Minimum Commitment&quot; parent.</description>
        <name>Create_Credit_Consumer_Product_Option</name>
        <label>Create Credit Consumer Product Option</label>
        <locationX>308</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Consumes_Credit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ConfiguredSKU__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Feature__c</field>
            <value>
                <elementReference>Create_Usage_Feature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Number__c</field>
            <value>
                <numberValue>110.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OptionalSKU__c</field>
            <value>
                <elementReference>Create_Credit_Consumer_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Selected__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Type__c</field>
            <value>
                <stringValue>Related Product</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__ProductOption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_PriceBook_Entry</name>
        <label>Create Standard Price Book Entry</label>
        <locationX>308</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Create_Usage_Feature</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBook_Standard_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Create_Credit_Consumer_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Feature that holds the usage product.</description>
        <name>Create_Usage_Feature</name>
        <label>Create Usage Feature</label>
        <locationX>308</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Create_Credit_Consumer_Product_Option</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ConfiguredSKU__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__MinOptionCount__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Number__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>SBQQ__ProductFeature__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Options</name>
        <label>Get Product Options</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Usage_Product_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Consumes_Credit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__ProductOption__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>SBQQ__Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_PriceBook</name>
        <label>Get Standard Price Book</label>
        <locationX>308</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Standard_PriceBook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>PriceBook_Standard_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__SubscriptionPricing__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__SubscriptionTerm__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Usage_Term__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PriceBook_Standard_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
