force-app/main/default/flows/Initialize_UsageSummary_UsageWithCredits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Invoice_Run_Processing_Status</name>
        <label>Set Invoice Run Processing Status</label>
        <locationX>954</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>Invoice_Run_Processing_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Billing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_FirstSummary_for_UsageWithCredits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Matching ID from the Order Product Number, which is guaranteed to be unique.</description>
        <name>Set_Matching_ID</name>
        <label>Set Matching ID</label>
        <locationX>1096</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>Matching_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__r.OrderItemNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Usage_with_Credits_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quantity_Available</name>
        <label>Update Quantity Available</label>
        <locationX>840</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>Quantity_Available</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__r.Included_Usage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QuantityAvailable_and_MatchingID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if it&apos;s the first Usage Summary associated to a &quot;Usage with Credits&quot; Order Product.</description>
        <name>Is_FirstSummary_for_UsageWithCredits</name>
        <label>Is First Summary for Usage with Credits</label>
        <locationX>946</locationX>
        <locationY>808</locationY>
        <defaultConnector>
            <targetReference>Update_QuantityAvailable_and_MatchingID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ConsumeCredit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__SummaryStartDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.blng__OrderProduct__r.ServiceDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quantity_Available</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the product is part of the Usage with Credits framework, the Usage Summaries&apos; &quot;Invoice Run Processing Status&quot; needs to be forced to &quot;Pending Billing&quot;</description>
        <name>Is_Usage_with_Credits_Product</name>
        <label>Is Usage with Credits Product?</label>
        <locationX>1088</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Update_QuantityAvailable_and_MatchingID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsageWithCredits</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__OrderProduct__r.Consumes_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__OrderProduct__r.Usage_Meter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invoice_Run_Processing_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Adjusted the Invoice Run Processing Status</description>
    <interviewLabel>Initialize Usage Summary - Usage With Credits - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initialize Usage Summary - Usage With Credits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Initialize the Quantity Available to the Included Quantity for the Order Product, and set the Matching ID.</description>
        <name>Update_QuantityAvailable_and_MatchingID</name>
        <label>Update Quantity Available and Matching ID</label>
        <locationX>1094</locationX>
        <locationY>1250</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity_Available__c</field>
            <value>
                <elementReference>Quantity_Available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__InvoiceRunProcessingStatus__c</field>
            <value>
                <elementReference>Invoice_Run_Processing_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__MatchingId__c</field>
            <value>
                <elementReference>Matching_ID</elementReference>
            </value>
        </inputAssignments>
        <object>blng__UsageSummary__c</object>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Set_Matching_ID</targetReference>
        </connector>
        <object>blng__UsageSummary__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Invoice_Run_Processing_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.blng__InvoiceRunProcessingStatus__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Matching_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quantity_Available</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
