force-app/main/default/flows/Trigger_Credit_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Invoice_Posting_End_Date</name>
        <label>Set Invoice Posting End Date</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>UsagePeriod_EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_OrderProduct_NBD_EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Usage_Credits</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Trigger_Selector</name>
        <label>Trigger Selector</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Usage_Credits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manual</defaultConnectorLabel>
        <rules>
            <name>Invoice_Posting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Update_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Posting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invoice_Posting_End_Date</targetReference>
            </connector>
            <label>Invoice Posting</label>
        </rules>
    </decisions>
    <formulas>
        <description>Usage Period End Date is derived from the Next Billing Date.</description>
        <name>FX_OrderProduct_NBD_EndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record__Prior.blng__NextBillingDate__c} - 1</expression>
    </formulas>
    <interviewLabel>Trigger - Credit Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger - Credit Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Trigger_Selector</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR (4 AND 5) )</filterLogic>
        <filters>
            <field>SBQQ__Activated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Consumes_Credit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__NextBillingDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__OverrideNextBillingDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__OverrideNextBillingDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Usage_Credits</name>
        <label>Update Usage Credits</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <flowName>Update_Usage_Credits</flowName>
        <inputAssignments>
            <name>IN_OrderProduct_UsageWithCredits</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IN_UsagePeriod_EndDate_Current</name>
            <value>
                <elementReference>UsagePeriod_EndDate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The Usage Period is defined by 2 parameters: its current End Date and the Billing Frequency. 
Because the Billing Frequency is fixed, the only thing that changes periodically is the End Date.</description>
        <name>UsagePeriod_EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
