force-app/main/default/flows/Trigger_Accumulate_Usage_Bucket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Get_End_Date_Current</name>
        <label>Get End Date (Current)</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>EndDate_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Usage_Buckets.blng__NextBillingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EndDate_Current</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accumulate_Usage_Bucket</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Trigger - Accumulate Usage Bucket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger - Accumulate Usage Bucket</label>
    <loops>
        <name>Loop_through_Usage_Buckets</name>
        <label>Loop through Usage Buckets</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Usage_Bucket_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_End_Date_Current</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Usage_Bucket_products</name>
        <label>Get Usage Bucket products</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Usage_Buckets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_Order_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Consumes_Credit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Usage_Bucket_products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Accumulate_Usage_Bucket</name>
        <label>Accumulate Usage Bucket</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Loop_through_Usage_Buckets</targetReference>
        </connector>
        <flowName>Accumulate_UsageBucket</flowName>
        <inputAssignments>
            <name>IN_Product_UsageBucket</name>
            <value>
                <elementReference>Loop_through_Usage_Buckets</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IN_UsagePeriod_EndDate_Current</name>
            <value>
                <elementReference>EndDate_Current</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>EndDate_Current</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_Order_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
