force-app/main/default/flows/Update_Usage_Credits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Rate_to_Update_Queue</name>
        <label>Add Rate to Update Queue</label>
        <locationX>534</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>UpdatedConsumptionRates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Consumption_Rates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Consumption_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Consumption_Rates</name>
        <label>Assign New Consumption Rates</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>Get_Consumption_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedConsumptionRates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Consumption_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This step is not needed if calculated within a formula in the Consumption Rate object</description>
        <name>Calculate_Delta</name>
        <label>Calculate Delta</label>
        <locationX>798</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>LowerBound_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpperBound_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Both_Bounds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>These parameters define the behaviour of the credits.</description>
        <name>Get_Parameters</name>
        <label>Get Parameters</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Quantity_Included</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_OrderProduct_UsageWithCredits.Included_Usage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Carryover_Factor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_OrderProduct_UsageWithCredits.Carryover_Factor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Carryover_Limit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_OrderProduct_UsageWithCredits.Carryover_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Term</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_OrderProduct_UsageWithCredits.Usage_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchingID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IN_OrderProduct_UsageWithCredits.OrderItemNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Usage_Summary_Next</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Cumulative_Usage</name>
        <label>Reset Cumulative Usage</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Quantity_Cumulative_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quantity_Available_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Included</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quantity_Available_Next</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Quantity_Carryover</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Output_Quantities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_Quantities</name>
        <label>Set Output Quantities</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>OUT_Quantity_Available_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Available_Next</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUT_Quantity_Excess_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Quantity_Excess_Current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Consumption_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Previous_Upper_Bound</name>
        <label>Store Previous Upper Bound</label>
        <locationX>534</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>UpperBound_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Rate_to_Update_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Available_Quantity</name>
        <label>Update Available Quantity</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Quantity_Available_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Quantity_Available_Next</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Output_Quantities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Both_Bounds</name>
        <label>Update Both Bounds</label>
        <locationX>798</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound_Current</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Usage_Delta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Cumulative_Usage</name>
        <label>Update Cumulative Usage</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Quantity_Cumulative_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Consumed_Current</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quantity_Cumulative_Next</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Quantity_Cumulative_Current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Available_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lower_Bound</name>
        <label>Update Lower Bound</label>
        <locationX>534</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound_Current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Upper_Bound</name>
        <label>Update Upper Bound</label>
        <locationX>270</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Available_Next</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_Credits_been_Updated</name>
        <label>Have Credits been Updated?</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_CreditsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity_Cumulative_Next</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quantity_Cumulative_Next</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refresh_Usage</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rate_Index_Selector</name>
        <label>Rate Index Selector</label>
        <locationX>534</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Calculate_Delta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>Included_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Upper_Bound</targetReference>
            </connector>
            <label>Included Rate</label>
        </rules>
        <rules>
            <name>Overage_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lower_Bound</targetReference>
            </connector>
            <label>Overage Rate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if Usage Period has changed (by checking whether the Billing Period and Usage Period are multiples).</description>
        <name>Refresh_Usage</name>
        <label>Refresh Usage?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Update_Cumulative_Usage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FX_UsagePeriod_HasChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Cumulative_Usage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <description>Index that represents the Usage Period within the Subscription Period.</description>
        <name>FX_BillingPeriod_Index_Next</name>
        <dataType>Number</dataType>
        <expression>MONTH({!FX_UsagePeriod_StartDate_Next}) - MONTH({!IN_OrderProduct_UsageWithCredits.ServiceDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_Quantity_Available_Next</name>
        <dataType>Number</dataType>
        <expression>MAX({!Quantity_Included} - {!Quantity_Cumulative_Next},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_Quantity_Carryover</name>
        <dataType>Number</dataType>
        <expression>MIN( {!Quantity_Available_Current} * {!Carryover_Factor}, BLANKVALUE({!Carryover_Limit},9999999999999))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_Quantity_Excess_Current</name>
        <dataType>Number</dataType>
        <expression>MAX({!Quantity_Consumed_Next} - {!Quantity_Available_Next} , 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_Usage_Delta</name>
        <dataType>Number</dataType>
        <expression>{!UpperBound_Next} - {!LowerBound_Current}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_UsagePeriod_HasChanged</name>
        <dataType>Number</dataType>
        <expression>MOD({!FX_BillingPeriod_Index_Next},{!Usage_Term})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_UsagePeriod_StartDate_Next</name>
        <dataType>Date</dataType>
        <expression>{!IN_UsagePeriod_EndDate_Current} + 1</expression>
    </formulas>
    <interviewLabel>Update Usage Credits - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Usage Credits</label>
    <loops>
        <name>Loop_Consumption_Rates</name>
        <label>Loop Consumption Rates</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <collectionReference>Get_Consumption_Rates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Rate_Index_Selector</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_New_Consumption_Rates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Consumption_Rates</name>
        <label>Get Consumption Rates</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Consumption_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__OrderItemConsumptionRate__c</object>
        <sortField>SBQQ__LowerBound__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consumption_Schedule</name>
        <label>Get Consumption Schedule</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Consumption_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_OrderProduct_UsageWithCredits.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>ConsumptionSchedule_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the Available, Cumulative, and Consumed Quantities from the Current usage period.</description>
        <name>Get_Quantities_Current</name>
        <label>Get Quantities (Current)</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__MatchingId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_OrderProduct_UsageWithCredits.OrderItemNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IN_UsagePeriod_EndDate_Current</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputAssignments>
            <assignToReference>Quantity_Available_Current</assignToReference>
            <field>Quantity_Available__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Quantity_Cumulative_Current</assignToReference>
            <field>Quantity_Cumulative__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Quantity_Consumed_Current</assignToReference>
            <field>blng__TotalQuantity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Usage_Summary_Next</name>
        <label>Get Usage Summary (Next)</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Credits_been_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__MatchingId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchingID</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryStartDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FX_UsagePeriod_StartDate_Next</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputAssignments>
            <assignToReference>Quantity_Available_Next</assignToReference>
            <field>Quantity_Available__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Quantity_Cumulative_Next</assignToReference>
            <field>Quantity_Cumulative__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consumption_Rates</name>
        <label>Update Consumption Rates</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Update_Usage_Summary_Next</targetReference>
        </connector>
        <inputReference>Get_Consumption_Rates</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Usage_Summary_Next</name>
        <label>Update Usage Summary (Next)</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__MatchingId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchingID</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryStartDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FX_UsagePeriod_StartDate_Next</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity_Available__c</field>
            <value>
                <elementReference>Quantity_Available_Next</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Cumulative__c</field>
            <value>
                <elementReference>Quantity_Cumulative_Next</elementReference>
            </value>
        </inputAssignments>
        <object>blng__UsageSummary__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quantities_Current</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Carryover_Factor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Carryover_Limit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ConsumptionRate_Previous</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__OrderItemConsumptionRate__c</objectType>
    </variables>
    <variables>
        <name>ConsumptionSchedule_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_OrderProduct_UsageWithCredits</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>IN_UsagePeriod_EndDate_Current</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LowerBound_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Matching ID for the Usage Summary</description>
        <name>MatchingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OUT_Quantity_Available_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OUT_Quantity_Excess_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Quantity_Available_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Quantity_Available_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Quantity_Consumed_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Quantity_Consumed_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Quantity_Cumulative_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Quantity that has been accumulated over the current Usage Period.</description>
        <name>Quantity_Cumulative_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The total number of &quot;credits&quot; included in each period</description>
        <name>Quantity_Included</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpdatedConsumptionRates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__OrderItemConsumptionRate__c</objectType>
    </variables>
    <variables>
        <name>UpperBound_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpperBound_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Usage_Term</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
